@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto.woff2) format('woff2'), url(../fonts/Roboto.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Robotobold';
	src: url(../fonts/Robotobold.woff2) format('woff2'), url(../fonts/Robotobold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Robotomedium';
	src: url(../fonts/Robotomedium.woff2) format('woff2'), url(../fonts/Robotomedium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@-webkit-keyframes feedback {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	60% {
		-webkit-transform: translateY(40px);
		transform: translateY(40px);
	}
	80% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes feedback {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	60% {
		-webkit-transform: translateY(40px);
		transform: translateY(40px);
	}
	80% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
}

img {
	width: 100%;
	height: auto
}

a {
	text-decoration: none;
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, .2);
	color: #fff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1146px;
	margin: 0 auto;
}

.site-navigation,
.filters select {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.user-navigation,
.operating-mode-contacts,
.filters legend,
.catalog-menu,
.price button::after,
.breadcrumbs a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.operating-mode-contacts {
	font-weight: 700;
}

.operating-mode-contacts span {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	margin-top: 5px;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
	color: #000;
	background: #f8f7f4;
}

.site-navigation,
.user-navigation,
.user-navigation-option,
.slider-list,
.cream-list,
.information-company,
.breadcrumbs,
.fat-content,
.filler,
.catalog-list,
.pagination,
.production-list,
.catalog-menu,
.ice-cream-item-1,
.ice-cream-item-2,
.ice-cream-list {
	list-style: none;
}

.site-navigation a,
.user-navigation a,
.breadcrumbs a,
.pagination a,
.information-company a,
.footer-copyright,
.filters-ice-cream .filter-button {
	color: #ffffff;
}

.cream-item a:hover,
.catalog-item a:hover,
.cream-item a:active,
.catalog-item a:active,
.information-company a:hover,
.information-company a:active,
.entrance-wrapper a:hover,
.entrance-wrapper a:active,
.footer-copyright a:not([class]):hover,
.footer-copyright a:not([class]):active,
.footer-copyright a:not([class]):focus,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
	border-bottom: 1px solid;
	border-bottom-color: rgb(255, 188, 158);
}

.supplier-icon a:hover::before ,
.supplier-icon a:active::before,
.supplier-icon a:focus::before {
	background: url(../img/heart-hover.svg) no-repeat center center;
}

.login-link-icon:hover::before {
	background: url(../img/entrance-black.svg) no-repeat center center;
}

.basket-link-icon:hover::before {
	background: url(../img/basket-black.svg) no-repeat center center;
}

.slider h2 {
	font-size: 60px;
	line-height: 60px;
}

.slide-button,
.banners-product a,
.mailing button,
.feedback-form button,
.entrance-form button,
.modal-feedback .button,
.registration-order .button,
.catalog-item .button-viewing,
.cream-item .button-viewing {
	font-size: 32px;
	font-weight: 700;
	color: #ffffff;
	border-radius: 40px;
	text-align: center;
	background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
	background: -webkit-linear-gradient(bottom, #e74a35, #f26843);
	background: -o-linear-gradient(bottom, #e74a35, #f26843);
	background: linear-gradient(to top, #e74a35, #f26843);
	-webkit-box-shadow: 0 2px 2px rgb(172, 16, 0, .64);
	box-shadow: 0 2px 2px rgb(172, 16, 0, .64);
}

.slide-button:hover,
.entrance-form button:hover,
.registration-order .button:hover,
.catalog-item .button-viewing:hover,
.cream-item .button-viewing:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
	background: -webkit-linear-gradient(top, #f58669, #ec6f5e);
	background: -o-linear-gradient(top, #f58669, #ec6f5e);
	background: linear-gradient(to bottom, #f58669, #ec6f5e);
	-webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
	outline: 0;
}

.slide-button:active,
.entrance-form button:active,
.registration-order .button:active,
.catalog-item .button-viewing:active,
.cream-item .button-viewing:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e0603e));
	background: -webkit-linear-gradient(top, #d84732, #e0603e);
	background: -o-linear-gradient(top, #d84732, #e0603e);
	background: linear-gradient(to bottom, #d84732, #e0603e);
	-webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
	outline: 0;
}

.additive-raspberry {
	background-color: #cb5c76;
	background: url("../img/crimson-background.png") no-repeat;
	background-size: cover;
	margin-right: 13px;
}

.additive-chocolate {
	background-color: #452413;
	background: url("../img/chocolate-background.png") no-repeat;
	background-size: cover;
	margin-left: 13px;
}

.banners-product h3,
.page-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.page-title {
	margin: 0;
	margin-bottom: 28px;
}

.banners-product h3,
.banners-product p {
	margin: 0;
}

.banners-product div {
	padding: 17px 21px 24px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	width: 50%;
	border-radius: 15px;
}

.banners-product a,
.mailing button,
.feedback-form span,
.feedback-form button,
.banners-product p,
.entrance-form button,
.modal-feedback .button,
.registration-order .button,
.catalog-item .button-viewing,
.cream-item .button-viewing {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.banners-product p {
	padding: 15px 0 44px 0;
	line-height: 22px;
}

.cream-item p,
.catalog-item p {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	margin: 0;
	margin-top: -65px;
	margin-bottom: 20px;
	position: relative;
	z-index: 3;
}

.cream-item span::before {
	content: "₽";
	font-weight: 500;
	font-size: 42px;
	line-height: 45px;
}

.cream-item span,
.catalog-item span {
	font-size: 30px;
	font-weight: 500;
	margin-left: -10px;
}

.cream-item .ruble,
.catalog-item .ruble {
	font-weight: 500;
	font-size: 42px;
	margin-left: -5px;
}

.cream-item p,
.cream-item span,
.catalog-item h3,
.catalog-item span {
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.cream-list li,
.catalog-item {
	width: 267px;
}

.catalog-item {
	position: relative;
	margin-bottom: 40px;
}

.cream-item {
	position: relative;
}

.catalog-item img,
.cream-item img {
	position: relative;
}

.catalog-item div::before,
.cream-item div::before {
	content: "";
	position: absolute;
	top: -6px;
	left: -13px;
	width: 293px;
	height: 100%;
	padding-bottom: 82px;
	background: rgba(255, 255, 255);
	border-radius: 5px;
	z-index: 1;
	display: none;
	box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
	opacity: .2;
}

.catalog-item:hover div::before,
.catalog-item:hover .button-viewing,
.cream-item:hover div::before,
.cream-item:hover .button-viewing {
	display: block;
	transition: background 1.6s;
}

.catalog-item:hover .ruble {
	font-weight: 700;
}

.catalog-item:hover img,
.cream-item:hover img {
	z-index: 2;
}

.cream-item a,
.production-list li,
.news p,
.mailing p,
.catalog-item a {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.cream-item a,
.catalog-item a {
	color: #ffffff;
	text-shadow: none;
	text-align: center;
}

.production-ice-cream {
	background-color: #f0e6ce;
	background: url(../img/wafer-background-100px.png) center center;
	border-radius: 15px;
	margin-bottom: 42px;
	padding: 25px 23px 24px 20px;
}

.production-ice-cream h3,
.news a,
.modal-feedback h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
}

.production-ice-cream h3 {
	margin: 0;
	margin-bottom: 21px;
}

.production-list li {
	width: 480px;
	font-weight: 400;
	color: #323232;
	position: relative;
	padding-left: 56px;
}

.news {
	background-color: #ffffff;
	background: url("../img/strawberry-background.png") no-repeat;
	background-size: cover;
	margin-right: 13px;
}

.news p {
	color: #323232;
	margin-top: 23px;
	margin-bottom: 4px;
}

.news a {
	width: 55%;
	display: inline-block;
	text-decoration: underline;
}

.mailing {
	background-color: #f8f7f4;
	border: 6px solid;
	-webkit-border-image: url(../img/bg-post.svg);
	-o-border-image: url(../img/bg-post.svg);
	border-image: url(../img/bg-post.svg);
	border-image-slice: 8;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 13px;
}

.mailing p {
	color: #5a5a5a;
	font-weight: 400;
	margin: 0;
	margin-bottom: 34px;
}

.mailing form {
	display: flex;
}

.mailing button,
.feedback-form button,
.entrance-form button,
.modal-feedback .button,
.registration-order .button,
.catalog-item .button-viewing,
.cream-item .button-viewing {
	border: none;
}

.mailing button {
	width: 130px;
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	margin-left: 10px;
}

.maps-contacts {
	width: 100%;
	position: relative;
	margin-bottom: 22px;
}

.maps::before {
	content: "";
	width: 80px;
	height: 140px;
	position: absolute;
	left: 280px;
	top: 142px;
	background: url(../img/pin.svg) no-repeat center center;
}

.maps iframe {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 428px;
}

.maps img {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 428px;
}

.feedback-form {
	width: 304px;
	background-color: white;
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	border-radius: 15px;
	position: absolute;
	right: 0;
	top: 61px;
	z-index: 5;
	padding: 31px 25px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-form-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	right: 0
}

.footer-social {
	font-size: 0;
	line-height: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
}

.twitter-icon {
	background: url(../img/twitter.svg) no-repeat center center;
}

.instagram-icon {
	background: url(../img/instagram.svg) no-repeat center center;
}

.facebook-icon {
	background: url(../img/fb.svg) no-repeat center center;
}

.vcontacte-icon {
	background: url(../img/vk.svg) no-repeat center center;
}

.footer-social a {
	width: 32px;
	height: 32px;
	display: inline-block;
	opacity: .8;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 50%;
	margin-right: 14px;
}

.footer-social a:hover {
	opacity: 1;
}

.footer-social a:active {
	opacity: .7;
}

.information-company a,
.ice-cream-list {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	/*border-bottom: 1px solid rgba(255, 255, 255, .2);*/
}
.supplier-icon a {
	font-weight: 700;
}

.supplier-icon {
	position: relative;
}

.supplier-icon a::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -20px;
	width: 15px;
	height: 13px;
	background: url(../img/heart.svg) no-repeat center center;
}

.footer-copyright {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin: 0;
}


/*Стилизация Каталога */

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: -37px;
}

.breadcrumbs li {
	margin-right: 5px;
}

.breadcrumbs a {
	position: relative;
	margin-right: 10px;
	font-weight: 400;
}

.breadcrumbs a::after {
	content: "»";
	position: absolute;
	top: 0px;
	right: -10px;
}

.breadcrumbs li:last-child a::after {
	display: none;
}

.breadcrumbs a:not([href]),
.breadcrumbs a:not([href]):hover,
.breadcrumbs a:not([href]):active {
	border-bottom: none;
	color: #ffffff;
}

.filters fieldset {
	border: none;
	padding: 0;
	margin: 0;
	margin-right: 15px;
}

.filters legend {
	margin-left: 17px;
	margin-bottom: 6px;
}

.filters-sorting select,
.price,
.fat-content,
.filler,
.filters-ice-cream .filter-button,
.login-link-icon,
.basket-link-icon {
	background-color: rgba(248, 247, 244, .2);
	border-radius: 20px;
	line-height: 36px;
}

.filters-sorting select {
	text-transform: none;
	border: none;
	color: #ffffff;
	font-weight: 500;
	padding-left: 15px;
	padding-right: 33px;
	-webkit-appearance: none;
	background: rgba(248, 247, 244, .2) url(../img/icon-down-dir.svg) no-repeat 90% center;
}

.filters-sorting select:hover {
	background: rgba(248, 247, 244, .2) url(../img/icon-down-dir-black.svg) no-repeat 90% center;
	color: #000;
	cursor: pointer;
}

.filters-sorting select:focus {
	background: #fff url(../img/icon-down-dir-black.svg) no-repeat 90% center;
	color: #000;
	outline: none;
}

.filters-sorting option {
	color: #000;
}

.price {
	position: relative;
	width: 218px;
	height: 36px;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.price button {
	border: none;
	line-height: 0;
	font-size: 0;
	width: 20px;
	height: 24px;
	cursor: pointer;
	background: transparent;
	position: absolute;
	top: calc(50% - 11px);
	background: url(../img/filter-button.svg) no-repeat center center;
}

.price .button-left {
	left: 15%;
}

.price .button-right {
	left: 60%;
}

.price::before {
	content: "";
	display: block;
	width: 178px;
	height: 4px;
	position: absolute;
	top: calc(50% - 2px);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(255, 255, 255, .5)), color-stop(10%, rgba(255, 255, 255, 1)), color-stop(70%, rgba(255, 255, 255, 1)),color-stop(70%, rgba(255, 255, 255, .5)));
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .5) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 70%,rgba(255, 255, 255, .5) 70%);
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, .5) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 70%,rgba(255, 255, 255, .5) 70%);
	background-image: linear-gradient(to right, rgba(255, 255, 255, .5) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 70%,rgba(255, 255, 255, .5) 70%);
}

.fat-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding-left: 14px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.fat-content label {
	display: inline-block;
	width: auto;
	height: 25px;
	background: url(../img/radio-off.svg) no-repeat left;
	padding-left: 30px;
	line-height: 23px;
	cursor: pointer;
}

.fat-content label:hover {
	background: url(../img/radio-off-hover.svg) no-repeat left;
}

#fat-0:checked ~ .fat-content label[for="fat-0"],
#fat-less-10:checked ~ .fat-content label[for="fat-less-10"],
#fat-less-30:checked ~ .fat-content label[for="fat-less-30"],
#fat-more-30:checked ~ .fat-content label[for="fat-more-30"] {
	background: url(../img/radio-on.svg) no-repeat left;
}

#fat-0:checked ~ .fat-content label[for="fat-0"]:hover,
#fat-less-10:checked ~ .fat-content label[for="fat-less-10"]:hover,
#fat-less-30:checked ~ .fat-content label[for="fat-less-30"]:hover,
#fat-more-30:checked ~ .fat-content label[for="fat-more-30"]:hover {
	background: url(../img/radio-on-hover.svg) no-repeat left;
}



.filler {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 16px;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.filler label {
	display: inline-block;
	width: auto;
	height: 23px;
	background: url(../img/checkbox-off.svg) no-repeat left;
	padding-left: 35px;
	line-height: 23px;
	cursor: pointer;
}

#chocolate:checked ~ .filler label[for="chocolate"],
#sugar:checked ~ .filler label[for="sugar"],
#fruit:checked ~ .filler label[for="fruit"],
#syrup:checked ~ .filler label[for="syrup"],
#jam:checked ~ .filler label[for="jam"] {
	background: url(../img/checkbox-on.svg) no-repeat left;
}

.filler label:hover {
	background: url(../img/checkbox-off-hover.svg) no-repeat left;
}

#chocolate:checked ~ .filler label[for="chocolate"]:hover,
#sugar:checked ~ .filler label[for="sugar"]:hover,
#fruit:checked ~ .filler label[for="fruit"]:hover,
#syrup:checked ~ .filler label[for="syrup"]:hover,
#jam:checked ~ .filler label[for="jam"]:hover {
	background: url(../img/checkbox-on-hover.svg) no-repeat left;
}

.filters-filler {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.filters {
	margin-bottom: 42px;
}

.filters-ice-cream {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.filters-ice-cream .filter-button {
	width: 145px;
	height: 35px;
	border: 2px solid #ffffff;
	cursor: pointer;
}

.filters-ice-cream .filter-button:hover {
	background: #fbfcfb;
	border: none;
	color: #000;
}

.filters-ice-cream .filter-button:active {
	-webkit-box-shadow: inset 0 2px 1px #696969;
	box-shadow: inset 0 2px 1px #696969;
	outline: none;
}

.filters .filters-fat {
	margin-right: 0;
}

.filters .filters-filler {
	margin-top: 17px;
}

.catalog {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	margin-bottom: 27px;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-bottom: 41px;
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.pagination li {
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	margin-left: 2px;
}

.pagination li:first-child,
.pagination li:last-child {
	font-size: 0;
	line-height: 0;
	background: url(../img/icon-right-small.svg) no-repeat right center;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	cursor: pointer;
}

.pagination li:last-child {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.pagination a {
	display: inline-block;
	width: 100%;
	height: auto;
}

.pagination-item a {
	color: #000;
	background: #fff;
	border-radius: 50%;
}

.pagination a[href]:hover {
	background: rgba(255, 255, 255, .2);
	border-radius: 50%;
}

.pagination a[href]:active {
	background: rgba(255, 255, 255, 1);
	border-radius: 50%;
	color: #000;
}

.main-footer-wrapper .main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 32px;
}

input[type=email],
input[type=password],
input[type=search],
input[type=text],
textarea {
	padding: 15px 0 15px 15px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	padding-left: 15px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

.user-navigation input {
	width: 100%;
}

/*Сетка на флексах*/

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin-left: 10px;
	margin-right: auto;
}

.catalog-menu {
	padding: 0;
	font-weight: 400;
	background: #f8f7f4;
	-webkit-box-shadow: 0 20px 20px 0px rgba(0, 0, 0, .40);
	box-shadow: 0 20px 20px 0px rgba(0, 0, 0, .40);
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 4px;
}

.catalog-menu a {
	display: block;
	color: #000;
	line-height: 28px;
	padding: 0 20px;
	margin-bottom: 4px;
}

.catalog-menu a:hover {
	background: #fbded8;
	color: #000;
}

.catalog-menu a:active {
	background: #f6b5a5;
	color: #000;
}

.catalog-menu li:first-child a {
	font-weight: 500;
	margin-bottom: 5px;
}

.catalog-menu li:last-child a {
	margin-bottom: 0;
}

.catalog-menu li:first-child {
	position: relative;
}

.catalog-menu li:first-child::after {
	content: "";
	position: absolute;
	top: 30px;
	left: 7px;
	width: 128px;
	height: 1px;
	background: #d1d0ce;
}

.inner-page .catalog-menu li:nth-child(2) a {
	background: #d07058;
}

.site-navigation-wrapper:hover {
	display: block;
}

.site-navigation-wrapper:hover .site-navigation-current a {
	display: none;
}

.site-navigation>li {
	position: relative;
}

.site-navigation>li>a {
	display: block;
	text-align: center;
	line-height: 18px;
	padding: 7px 14px;
	border-bottom: none;
}

.site-navigation>li>a::before {
	content: "";
	position: absolute;
	height: 1px;
	width: calc(100% - 28px);
	bottom: 7px;
	background: rgba(255, 255, 255, .2);
}

.site-navigation-current>a:hover ~ .site-navigation-wrapper {
	display: block;
}

.site-navigation>li>a:hover,
.site-navigation>li>a:active,
.inner-page .site-navigation-current>a:hover,
.inner-page .site-navigation-current>a:active {
	text-decoration: none;
	background: #f8f7f4;
	border-radius: 20px;
	color: #000
}

.site-navigation>li>a:active {
	-webkit-box-shadow: inset 0 2px 1px #696969;
	box-shadow: inset 0 2px 1px #696969;
}

.site-navigation-wrapper {
	display: none;
	position: absolute;
	left: -6px;
	width: 145px;
	padding-top: 5px;
	z-index: 3;
}

.inner-page .site-navigation-current>a {
	background: #d07058;
	border-radius: 20px;
}

.inner-page .site-navigation-current>a::before {
	display: none;
}

.basket-current a {
	background: #f7f6f3;
	border-radius: 20px;
	color: #000000;
}

.user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.user-navigation-option {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
}

.header-logo,
.pagination a,
.catalog-menu a,
.inner-page .site-navigation-current>a,
.login-link>a,
.basket-link>a,
.slide-button,
.banners-product a,
.akademy {
	text-decoration: none;
	border-bottom: none;
}

.header-logo {
	margin-top: 10px;
}

.login-link {
	position: relative;
}

.inner-page .basket-link>a {
	width: 120px;
}

.login-link>a,
.basket-link>a {
	line-height: 32px;
	display: block;
	text-align: center;
	position: relative;
	margin-left: 10px;
}

.login-link>a {
	width: 92px;
}

.basket-link>a {
	width: 100px;
}

.inner-page .basket-link {
	position: relative;
}

.registration-order {
	display: none;
	position: absolute;
	right: 0;
	top: 35px;
	width: 542px;
	background: #f8f7f4;
	z-index: 2;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0px rgba(0, 0, 0, .40);
	box-shadow: 0 20px 20px 0px rgba(0, 0, 0, .40);
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.basket-link-icon:hover + .registration-order {
	display: block;
}

.registration-order:hover {
	display: block;
}

.ice-cream-list {
	color: #000;
	padding: 0;
	height: 130px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 1px solid #cacac7;
}

.ice-cream-list ul {
	padding: 0;
	height: 20px;
	width: 420px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-right: 20px;
	margin-left: 15px;
}

.ice-cream-list li {
	position: relative;
	height: 52px;
}

.ice-cream-list img {
	width: 33px;
	height: 33px;
}

.ice-cream-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.ice-cream-item li:first-child {
	width: 220px;
}

.ice-cream-item span {
	color: #999999;
}

.registration-order .ice-cream-delete {
	position: absolute;
	top: calc(50% - 8px);
	left: 0;
	width: 12px;
	height: 12px;
	font-size: 0;
	line-height: 0;
	border: none;
	background: url(../img/cross-small.svg) no-repeat center center;
	cursor: pointer;
}

.registration-order p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #000;
	margin: 14px 0;
}

.registration-order .button,
.catalog-item .button-viewing,
.cream-item .button-viewing {
	width: 170px;
	display: block;
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	color: #fff;
	margin-left: auto;
	margin-bottom: 20px;
}

.catalog-item .button-viewing,
.cream-item .button-viewing {
	width: 200px;
	position: absolute;
	bottom: -74px;
	left: 32px;
	z-index: 1;
	display: none;
}

.login-link-icon::before {
	content: "";
	width: 21px;
	height: 19px;
	display: inline-block;
	background: url(../img/entrance.svg) no-repeat center center;
	vertical-align: middle;
	margin-right: 7px;
}

.basket-link-icon::before {
	content: "";
	width: 21px;
	height: 20px;
	display: inline-block;
	background: url(../img/basket.svg) no-repeat center center;
	vertical-align: middle;
	margin-right: 7px;
}

.inner-page .basket-link-icon::before {
	background: url(../img/basket-product.svg) no-repeat center center;
}

.entrance-form {
	display: none;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 35px;
	right: 0;
	width: 278px;
	background: #f8f7f4;
	z-index: 2;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0px rgba(0, 0, 0, .40);
	box-shadow: 0 20px 20px 0px rgba(0, 0, 0, .40);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 19px;
}

.login-link-icon:hover + .entrance-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.entrance-form:hover,
.entrance-form input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.entrance-form input {
	margin-bottom: 20px;
}

.entrance-form input:hover,
.search-form input:hover,
.modal-feedback input:hover {
	border: 2px solid rgba(154, 154, 154, .52);
	padding: 14px 0 14px 14px;
}

.entrance-form input:focus,
.search-form input:focus,
.modal-feedback input:focus {
	outline: none;
	border: 2px solid rgba(46, 136, 228, .52);
	padding: 14px 0 14px 14px;
}

.entrance-form button {
	width: 100px;
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 2px rgb(172, 16, 0, .64);
	box-shadow: 0 1px 2px rgb(172, 16, 0, .64);
}

.entrance-form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.entrance-form a {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
	border-bottom-color: #000;
}

.entrance-wrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: center;
}

.search-form {
	display: none;
	position: absolute;
	top: 35px;
	right: 0;
	width: 340px;
	background: #f8f7f4;
	z-index: 2;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0px rgba(0, 0, 0, .40);
	box-shadow: 0 20px 20px 0px rgba(0, 0, 0, .40);
	padding: 20px 15px;
	box-sizing: border-box;
}

.search-wrapper {
	position: relative;
}

.search-form button {
	display: none;
}

.search-button:hover {
	background: rgba(248, 247, 244, 1) url(../img/loupe-black.svg) no-repeat center center;
}

.search-button:hover + .search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.search-form:hover {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
}

.search-form::before,
.entrance-form::before,
.registration-order::before {
	content: "";
	width: 100%;
	height: 9px;
	position: absolute;
	top: -9px;
	left: 0;
}

.search-form::after {
	content: "";
	width: 308px;
	height: 40px;
	position: absolute;
	top: -40px;
	left: 0;
}

.search-button {
	border: none;
	width: 32px;
	height: 32px;
	font-size: 0;
	line-height: 0;
	border-radius: 20px;
	background: rgba(248, 247, 244, .2) url(../img/loupe.svg) no-repeat center center;
	cursor: pointer;
}

.operating-mode-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin: 0;
	margin-top: -7px;
}

.inner-page .operating-mode-contacts {
	margin-top: -17px;
}

.inner-page .operating-mode-contacts p {
	text-align: right;
	margin-top: 10px;
}

.inner-page .operating-mode-contacts span {
	margin-top: 5px;
	display: block;
}

.site-wrapper {
	background: #849d8f url(../img/slider-item1.png) no-repeat top center;
	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
	-o-transition: background-image 0.5s ease, background-color 0.5s ease;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.inner-page .site-wrapper {
	background: #849d8f;
}

.slider {
	position: relative;
	padding-top: 275px;
	text-align: center;
	margin-bottom: 40px;
}

.slider-list {
	padding: 0;
	margin: 0;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.slider-controls label {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	border: 2px solid #ffffff;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 5px;
}

.slider-controls label:hover {
	background: rgba(255, 255, 255, .4);
}

.slider-controls  {
	position: absolute;
	bottom: 22px;
	left: 2px;
	z-index: 3;
}

.slide {
	display: none;
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
	display: block;
}

#product-1:checked~.site-wrapper label[for=product-1],
#product-2:checked~.site-wrapper label[for=product-2],
#product-3:checked~.site-wrapper label[for=product-3] {
	background: #ffffff;
}

#product-1:checked~.site-wrapper {
	background-color: #849d8f;
	background-image: url(../img/slider-item1.png);
}

#product-2:checked~.site-wrapper {
	background-color: #8996a6;
	background-image: url(../img/slider-item2.png);
}

#product-3:checked~.site-wrapper {
	background-color: #9d8b84;
	background-image: url(../img/slider-item3.png);
}

.banners-product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 40px;
}

.slide-button {
	display: inline-block;
	width: 278px;
	height: 63px;
	line-height: 63px;
	text-shadow: 0 2px 2px rgba(160, 32, 11, 0.76);
}

.banners-product a {
	display: block;
	width: 165px;
	line-height: 45px;
	margin-left: auto;
}

.banners-product a:hover,
.mailing button:hover,
.feedback-form button:hover,
.modal-feedback .button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#e1613e));
	background: -webkit-linear-gradient(top, #f58669, #e1613e);
	background: -o-linear-gradient(top, #f58669, #e1613e);
	background: linear-gradient(to bottom, #f58669, #e1613e);
	-webkit-box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
	box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
}

.banners-product a:active,
.mailing button:active,
.feedback-form button:active,
.modal-feedback .button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#c63e2b), to(#ec6f5e));
	background: -webkit-linear-gradient(top, #c63e2b, #ec6f5e);
	background: -o-linear-gradient(top, #c63e2b, #ec6f5e);
	background: linear-gradient(to bottom, #c63e2b, #ec6f5e);
	-webkit-box-shadow: inset 0 2px 2px #942718;
	box-shadow: inset 0 2px 2px #942718;
}

.additive-chocolate a {
	width: 190px;
}

.cream-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.cream-item h3,
.catalog-item h3 {
	text-align: center;
	margin: 0;
	position: relative;
	z-index: 4;
}

.cream-item::before {
	content: "";
	width: 61px;
	height: 61px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/hit.svg);
	z-index: 3;
}

.hits-product {
	margin-bottom: 38px;
}

.production-list li::before {
	content: "";
	width: 49px;
	height: 49px;
	position: absolute;
	left: 0;
	top: -13px;
}

.production-item1::before {
	background: url(../img/ice-cream.svg) no-repeat center center;
}
.production-item2::before {
	background: url(../img/eco.svg) no-repeat center center;
}
.production-item3::before {
	background: url(../img/cow.svg) no-repeat center center;
}
.production-item4::before {
	background: url(../img/thermometer.svg) no-repeat center center;
}

.production-item1,
.production-item3 {
	margin-bottom: 22px;
}

.production-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
}

.production-item2 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.production-item4 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.news_blogs-subscription {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 40px;
}

.news_blogs-subscription div {
	border-radius: 15px;
	padding: 25px 20px 35px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
}

.feedback-form p {
	margin: 0;
	white-space: pre-line;
}

.feedback-form span {
	display: inline-block;
	margin-bottom: 18px;
}

.feedback-form .feedback-contacts {
	margin-bottom: 3px;
	margin-top: 4px;
}

.feedback-form button {
	width: 250px;
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	outline: none;
}

.akademy {
	display: block;
	font-size: 0;
	line-height: 0;
	background: url(../img/logo-htmlacademy.svg) no-repeat center center;
	width: 110px;
	height: 40px;
	margin-bottom: 4px;
	margin-top: -10px;
}

.information-company {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 30%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.information-company li {
	-ms-flex-preferred-size: 145px;
	flex-basis: 145px;
}

.information-company li:last-child {
	-ms-flex-preferred-size: 165px;
	flex-basis: 165px;
}

/* Модальное окно */

.modal-feedback {
	width: 478px;
	top: 120px;
	left: 50%;
	margin-left: -239px;
	padding: 20px 25px 25px 25px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;
	display: none;
	box-sizing: border-box;
}

.modal {
	position: fixed;
	z-index: 5;
	background-color: #f8f7f4;
}

.modal-feedback h3 {
	margin: 0;
}

.modal-feedback .button {
	-ms-flex-item-align: end;
	align-self: flex-end;
	width: 135px;
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	color: #fff;
	margin-bottom: 3px;
}

.modal-feedback form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 18px;
	height: 18px;
	font-size: 0;
	line-height: 0;
	border: none;
	background: url(../img/cross-big.svg) no-repeat center center;
	cursor: pointer;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: rgba(0, 0, 0, .3);
}

.modal-overlay-show {
	display: block;
}

/*Добавление класса через JS для появления модалки*/

.modal-show {
	display: block;
	-webkit-animation: feedback 0.6s;
	animation: feedback 0.6s;
}

.modal-error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}

/*Конец модального окна*/